.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
  background-color: #282a36;
}
.formWrapper {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}
footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #4aee88;
}
.createInfo{
  color: #000;
}
.inputGroup {
  display: flex;
  flex-direction: column;
}
.mainLabel {
  margin-bottom: 10px;
  margin-top: 0;
  color: #000;
}
.homePageLogo {
  height: 80px;
  margin-bottom: 10px;
}
.inputBox {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.joinBtn {
  background: #4aee88;
}

.joinBtn :hover {
  color: white;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #4aee88;
  text-decoration: none;
  border-bottom: 1px solid #4aee88;
  transition: all 0.3s ease-in-out;
}
.createNewBtn :hover,
footer a :hover {
  color: white;
  border-bottom: 1px solid white;
}

.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
}

.aside {
  background: #013e2f;
  padding: 12px;
  color: white;
  display: flex;
  flex-direction: column;
}

.asideInner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 96vh;
  overflow: unset;
}

.connected-heading {
  font-size: 20px;
  font-weight: 700;
  color: cyan;
  margin-bottom: 20px;
}

.client {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.userName {
  margin-left: 5px;
}

.utility-buttons {
  display: flex;
  justify-content: space-between;
}

.editorWrap .Codemirror, .cm-s-dracula {
  height: 100vh !important;
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}

.HomePageFooter {
  color: #fff;
}
.editorWrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 900px) {
  .aside {
    display: none;
  }
  .editorWrap {
    width: 100vw;
  }
}